<?xml version="1.0" encoding="utf-8" ?>
<YKAutoTest>
<!--    <device>-->
<!--        <platform>ANDROID</platform>-->
<!--        <deviceType>Android</deviceType>-->
<!--        <packageName>com.youku.phone</packageName>-->
<!--        <deviceId>XWN0220C15058286</deviceId>-->
<!--        <activity>ActivityWelcome</activity>-->
<!--    </device>-->
    <device>
        <platform>ios</platform>
        <deviceType>iPhone</deviceType>
        <deviceId>00008030-000A294E3604802E</deviceId>
        <packageName>com.youku.YouKu</packageName>
    </device>
    <!--<device>-->
    <!--<platform>ios</platform>-->
    <!--<deviceType>iPad</deviceType>-->
    <!--<deviceId>00008027-001605DA1187002E</deviceId>-->
    <!--<packageName>com.youku.hd.InHouse</packageName>-->
    <!--</device>-->
</YKAutoTest>
