<?xml version="1.0" encoding="utf-8" ?>
<YKAutoTest>
    <!--<device>-->
        <!--<platform>ANDROID</platform>-->
        <!--<deviceType>Android</deviceType>-->
        <!--<packageName>com.youku.phone</packageName>-->
        <!--<deviceId>Q5S5T19617000395</deviceId>-->
        <!--&lt;!&ndash;        <packageName>com.tencent.qqlive</packageName>&ndash;&gt;-->
        <!--&lt;!&ndash;<packageName>com.qiyi.video</packageName>&ndash;&gt;-->
        <!--<activity>ActivityWelcome</activity>-->
    <!--</device>-->
    <device>
        <platform>ios</platform>
        <deviceType>iPhone</deviceType>
        <deviceId>00008030-000A294E3604802E</deviceId>
        <packageName>com.youku.YouKu</packageName>
        <!--                        <packageName>com.tencent.live4iphone</packageName>-->
    </device>
    <!--<device>-->
    <!--<platform>ios</platform>-->
    <!--<deviceType>iPad</deviceType>-->
    <!--<deviceId>00008027-001605DA1187002E</deviceId>-->
    <!--<packageName>com.youku.hd.InHouse</packageName>-->
    <!--</device>-->
</YKAutoTest>
